.projects-section{
    width: 77.5vw;
    margin: auto;
    margin-bottom: 150px;
}

.projects-title{
    font-size: 90px;
    color:#F5F5F5;
    margin-bottom: 40px;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.contacts-subtitle {
  font-size: 17.5px;
  color: #F5F5F5;
  margin-bottom: 25px;
  font-weight: 450;
}