<mat-card class="project-card">
  <div class="image-container">
    <img [src]="image" class="project-image">
    <div class="image-overlay">
      <h3 class="project-title">{{ title }}</h3>
    </div>
    <div class="project-links">
      <a *ngFor="let link of links"
         [href]="link.url"
         target="_blank"
         class="project-link">
        <mat-icon>{{link.icon}}</mat-icon>
      </a>
    </div>
  </div>
  <div class="project-body">
    <p class="project-description">
      {{ text }}
    </p>
    <div class="skills">
      <span class="skill" *ngFor="let skill of skillsUsed">
        {{ skill }}
      </span>
    </div>
  </div>
</mat-card>