.work-title {
  color: var(--color-white);
  font-size: 64px;
  text-align: center;
  margin-top: 120px;
  letter-spacing: 2px;
  font-weight: 600;
  padding-bottom: 120px;
}

.page-content {
  padding-top: 60px;
}