.public-key {
    color: var(--color-green);
    text-decoration: none;
}

.public-key:hover {
    color: var(--color-glow-active-hover);
    cursor: pointer;
}

.page-content {
    padding-top: 60px;
}

footer {
    background-color: var(--color-black); 
    color: var(--color-white); 
    text-align: center; 
    padding: 5px 0; 
    font-size: 14px;
}