/* ---------- Skill Card ---------- */
.skill-card {
  position: relative;
  width: 100% !important;
  margin: 15px 0;
  background-color: #000;
  color: #F5F5F5;
  border-radius: 10px;
  border: 1px solid rgba(50,205,50,0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d; /* necessário para efeito 3D */
  perspective: 1000px;           /* profundidade */
}

.skill-card:hover {
  border: 1px solid limegreen;
  box-shadow: 0 10px 25px rgba(50,205,50,0.4);
}

/* ---------- Skill Card Content ---------- */

.logo img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 15px;
  justify-content: center;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F5F5F5;
}

mat-progress-bar {
  width: 100%;
}

