.skill-card {
  position: relative;
  width: 100% !important;
  margin: 15px 0;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-button-background-hover);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d;
  perspective: 1000px;           
}

.skill-card:hover {
  border: 1px solid var(--color-green);
  box-shadow: 0 10px 25px var(--color-glow-active);
}

.logo img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 15px;
  justify-content: center;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

mat-progress-bar {
  width: 100%;
  border-radius: 10px;
}