<section id="skills" class="section" style="width: 77.5vw; margin: auto;">
    <h1 style="font-size: 90px; color:#F5F5F5; margin-bottom: 65px;" >Skills</h1>
    <mat-card style="width: 80%; margin: auto;">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab *ngFor="let category of themes[0] | keyvalue" [label]="category.key">
                <app-progress *ngFor="let prog of category.value"
                    [skill]="prog.skill"
                    [percentage]="prog.percentage"
                    [imageUrl]="prog.imageUrl"
                />
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>
