<section id="skills" class="section" style="width: 77.5vw; margin: auto;">
  <h1 style="font-size: 90px; color:#F5F5F5; margin-bottom: 65px;">Skills</h1>

  <mat-card style="width: 92%; margin: auto;" class="skills-container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" style="height: 425px;" animationDuration="0ms">
      <mat-tab *ngFor="let category of themes[0] | keyvalue" [label]="category.key">
        <div class="skills-grid">
          <app-progress
            *ngFor="let prog of category.value"
            style="width:95%"
            [skill]="prog.skill"
            [percentage]="prog.percentage"
            [imageUrl]="prog.imageUrl">
          </app-progress>
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</section>