.skills-container {
  background-color: #000;
  border-radius: 12px;
  border: 1px solid var(--color-glow-active);
  transition: all 0.3s ease;
  padding: 25px;
  width: 92%; 
  margin: auto;
}

.skills-container:hover {
  border: 1px solid var(--color-glow-active-hover);
  box-shadow: 0 0 12px var(--color-glow-active);
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 5px;
  justify-items: center;
}

.skills-tabs {
  overflow: hidden;
}

.skills-tabs .mat-mdc-tab-body-wrapper {
  overflow: hidden;
}

.skills-tabs .mat-mdc-tab-body-content {
  overflow: hidden;
}

::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden;
}

.skills-title {
  font-size: 90px; 
  color:var(--color-white); 
  margin-bottom: 40px;
}

.skills-subtitle {
  font-size: 17.5px;
  color: var(--color-white);
  margin-bottom: 25px;
  font-weight: 450;
}

.skills-section {
  width: 77.5vw; 
  margin: auto; 
  margin-bottom: 150px;
}

mat-tab-group{
  height: 425px;
}

app-progress {
  width:95%
}

